Hostname "{IID}"

Interval 60

LoadPlugin "logfile"
<Plugin "logfile">
  LogLevel "info"
  File "/var/log/collectd.log"
  Timestamp true
</Plugin>

LoadPlugin write_http
<Plugin "write_http">
  <Node "stackdriver">
    URL "https://{COLLECTD_ENDPOINT}/v1/agent?stackdriver-apikey={API_KEY}"
    Format "JSON"
    StoreRates true
    # If bytes/sec drops below LowSpeedLimit, abort connection.
    LowSpeedLimit 100
    # Abort posts that take longer than this many millseconds.
    Timeout 10000
  </Node>
</Plugin>

# if you have other config, especially for plugins, you can drop them
# into this directory
Include "/opt/stackdriver/collectd/etc/collectd.d"

